<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= activity.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= activity.phone %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= activity.staff %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= activity.map %>
  </p>

</div>
